.nav-bar {
    display: flex;
    background-color: #252526;
    border-bottom: 1px solid #3c3c3c;
    overflow-x: auto;
    white-space: nowrap;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-right: 1px solid #3c3c3c;
    background-color: #2d2d2d;
    color: #a7a7a7;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

a.tab,
a.tab-active {
    text-decoration: none;
}

.tab.active {
    background-color: #1e1e1e;
    color: #ffffff;
    border-top: 2px solid #007acc;
}

.tab:hover:not(.active) {
    background-color: #333333;
}

.close-icon {
    margin-left: 8px;
    font-size: 14px;
    color: #a7a7a7;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon:hover {
    background-color: #3c3c3c;
    color: #ffffff;
}

.tab-icon {
    font-size: 14px;
    color: #75beff;
}

.content {
    padding: 20px;
    background-color: #1e1e1e;
    height: 300px;
    overflow: auto;
}

.add-tab {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #252526;
    color: #a7a7a7;
    border-right: 1px solid #3c3c3c;
}

.add-tab:hover {
    background-color: #333333;
}

/* menu items */

.menu-bar {
    background-color: #1E1E1E;
    display: flex;
    padding: 5px 15px;
    border-bottom: 1px solid #383838;
    border-top: 1px solid #383838;

}

.menu-item {
    margin-right: 15px;
    font-size: 0.9rem;
    color: #BBBBBB;
    cursor: pointer;
}