h1.effect-spread {
    letter-spacing: -2px;
    transition: 1s;
    color: var(--primary-color);
    text-shadow: #007acc 2px 5px;
}

h1.effect-spread:hover {
    letter-spacing: 1px;
    transition: 1s;
    color: cornflowerblue;
    text-shadow: white 2px 5px;
}